{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    {% for treasure in treasures %}
        <div class="col-md-4">
            <div class="treasure panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ treasure.name }}</h3>
                    <a class="panel-username"
                        href="/user/{{treasure.user.username}}/">
                        by: {{ treasure.user.username }}
                    </a>
                </div>
                <div class="panel-body">
                    <a href="/{{treasure.id}}/">
                        <img src="{{ treasure.image.url }}" height="170">
                    </a>
                    <br></br>
                    <!-- Adding Like button -->
                    <button id="likes" data-id="{{treasure.id}}"
                        class="btn btn-mini btn-danger glyphicon glyphicon-heart"
                        type="button">
                        {% if treasure.likes > 0 %} {{ treasure.likes }} {% endif %}
                    </button>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>
    <div class="treasure panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Add Treasure</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" action="post_url/" method="post">
                {% csrf_token %}
                <div class="field-wrapper">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}