{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css"
            href=" {%static 'bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css"
            href=" {%static 'style.css' %}" />
        <title> TreasureGram</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top text-center">
            <a href="/">
            <img src="{%static 'images/logo.png' %}" alt="TreasureGram"> </a>
        </nav>
        <h1> TreasureGram aqui</h1>
        {% for treasure in treasures %}
            <p> {{ treasure.name}} </p>
            {% if treasure.value > 0 %}
                <p> {{ treasure.value}} </p>
            {% else %}
                <p> Unknown </p>
            {% endif %}
        {% endfor %}
    </body>
</html>